.main{
    text-align: center;
}
.main>h2{
    text-decoration: underline;
}
.form{
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: space-evenly;
    margin-top: 3%;
    height:450px;
    width:30%;
}
.form>input{
    height:20px;
    border:none;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.form>input:hover{
    border-bottom-color: #2596be;
}
.form>input:focus{
    border-bottom-color: #2596be;
    outline: none;
}
.form>label{
    margin-top: 20px;
    font-size: 17px;
}
.form>button{
    width:20%;
    margin: auto;
    margin-top: 30px;
    height:30px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    color: #2596be;
    border-color: #2596be;
    border-radius: 10px;

}

.logo{
    display: flex;
    flex-direction: row;
    height:70px;
}
.logo>h1{
    margin-left: 25%;
    font-weight: 400;
    color:#2596be;
    
}
.logo>img{
    width:90px;
    margin-left: 10%;
}