.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    width:30%;
    margin-top: 7%;
}
.main1{
    border:1px solid black;
    width:100%
}
.main2{
    border:1px solid black;
    width:100%;
}

.logo{
    display: flex;
    flex-direction: row;
    height:70px;
}
.logo>h1{
    margin-left: 18%;
    font-weight: 400;
    color:#2596be;
    
}
.logo>img{
    width:90px;
    margin-left: 10%;
}